/*View Product Vendor Page*/
@media (min-width: 768px) {
  /*View Product Vendor Page*/
  .log-out {
    order: 3; /* change the order of the element */
    margin-left: auto; /* push the element to the right */
  } 

  /*My Account Page*/

  .profile-avatar  {
    width: 25% !important;
  }

  .profile-sidebar{
    width: 16% !important;
  }

  .profile-info {
    width: 84% !important;
  }

  .profile-sidebar-text {
    display: inline-block !important;
  } 

  .order-info-product, .order-product-price {
    font-size: 17px !important;
  }
  
  .order-info-product h4 {
    padding-bottom: 10px !important;
    font-size: 25px !important;
  }

}

/*View Product Vendor Page*/

.profile {
 --bs-dropdown-min-width: 10px !important;
}


.navb-logo img {
  width: 150px;
  height: auto; 
}

/*My Account Page*/
.order-wrapper{
  display: flex;
  flex-direction: column;
  border: 1px ;
  box-shadow: 0px 0px 5px #BFBFBF;
}

.order-shop, .order-total{
  display: flex;
  flex: 1;
  font-weight: bolder;
}

.order-total {
  justify-content: end;
}

.order-content {
  display: flex;
  flex: 1;
}

.order-columns {
  align-items: flex-start;
  display: flex;
  flex: 1;
  
}

.order-info-product{
  flex: 1;
  order: 2;
}

.order-info-product, .order-product-price {
  font-size: 10px;
}

.order-info-product h4 {
  font-size: 15px;
}

.order-product-img{
  width: 30%;
  order: 1;
}

.order-product-price{ 
  width: 14%;
  order: 3;
}

.order-product-img img {
  width: 100%;
}


.profile-sidebar-text {
  display: none;
} 

.profile-sidebar{
  width: 20%;
}

.profile-info {
  width: 80%;
}

.no-product {
  max-width: 100% !important;
}

/*Pop up to edit product or confirm user of deleting product*/
.delete-button .modal-dialog, .edit-button .modal-dialog, .order-success-button .modal-dialog {
  position: absolute !important;
  top: 50% !important;
  left: 48% !important;
  transform: translate(-50%, -50%) !important;
  width: 90% !important;
}

.delete-button .modal-content {
  height: 50% !important;
}

.edit-button .modal-content, .order-success-button .modal-content {
  height: 95% !important;
}

/*My Profile*/
.upload{
  margin: 0px 0px;
  width: 100px;
  position: relative;
  margin: auto;
}

.upload img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
  cursor: pointer;
}

/*Checkout Page */
.checkout p{
  font-size: 15px;
}

.total p {
  font-size: larger;
  font-weight: bold;
  color: #060047;
}

.remove {
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border: 1px solid #060047;
  background-color: #060047;
}