.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2813, 110, 253, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: none;
}

.offcanvas.offcanvas-start {
    width: 200px;
}

.container #shipper{
    width: fit-content; 
    justify-content: flex-start !important;
    margin-left: 0px;
}

body {
    background-color: #EFF0F5;
}

#content h2 {
    margin-left: 40px;
}

form.d-flex input {
    margin-left: 25px;
    width: 60vw !important;
}

.nav-bar {
    justify-content: flex-start;
    padding-right: 0px !important;
}

.navbar-nav .nav-link.active {
    color: #0d6efd;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

img.d-block {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.price {
    color: rgb(210, 3, 3);
}

.fa-solid.fa-star {
    color: rgb(210, 3, 3);
}

.col-lg-3#rating{
    color: rgb(210, 3, 3)
}

.col a{
    color: black
}

@media (max-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: none;
}}

form.quantity input {
    width: 60px;
    height: 40px;
    text-align: center;
    border-radius: 0%;
    border: solid 1px #EFF0F5;
}

form.quantity input.add-to-cart, form.quantity input.buy-now {
    width: 160px;
    height: 50px;
    font-size: larger;
}

form.quantity input.add-to-cart {
    border: solid 1px rgb(210, 3, 3);
    color: rgb(210, 3, 3);
}

form.quantity input.buy-now {
    background-color: rgb(210, 3, 3);
    color: white;
}

.col-1.mt-2 {
    max-width: fit-content;
}
.col-1.mt-2 .fa-solid.fa-circle-user {
    color: gainsboro
}

.col-2 img.shop-pic {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: solid 1px gainsboro;
    min-width: 40px;
}
@media (max-width: 767px) {
    .col-1.mt-2 {
        min-width: fit-content;
    }
    
    #shop-section h4 {
        font-size: large;
    }

    #shop-section p {
        font-size: small;
    }

    #shop-section a {
        font-size: small;
    }
}

#product-suggest img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}

.row#product-suggest-container {
    padding: 0px;
}