.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2813, 110, 253, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: none;
}

.offcanvas.offcanvas-start {
    width: 200px;
}

.container #shipper{
    width: fit-content; 
    justify-content: flex-start !important;
    margin-left: 0px;
}

body {
    background-color: #EFF0F5;
}

#content h2 {
    margin-left: 40px;
}

form.d-flex input {
    margin-left: 25px;
    width: 60vw !important;
}

.nav-bar {
    justify-content: flex-start;
    padding-right: 0px !important;
}

.navbar-nav .nav-link.active {
    color: #0d6efd;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

img.d-block {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.price {
    color: rgb(210, 3, 3);
}

.fa-solid.fa-star {
    color: rgb(210, 3, 3);
}

.col-lg-3#rating{
    color: rgb(210, 3, 3)
}

.col a{
    color: black
}

@media (max-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: none;
    }
    #product-detail-bottom {
        font-size: small;
    }
}

form.quantity input {
    width: 60px;
    height: 40px;
    text-align: center;
    border-radius: 0%;
    border: solid 1px #EFF0F5;
}

form.quantity button.add-to-cart, form.quantity button.buy-now {
    width: 160px;
    height: 50px;
    font-size: larger;
}

form.quantity button.add-to-cart {
    border: solid 1px rgb(210, 3, 3);
    color: rgb(210, 3, 3);
}

form.quantity button.buy-now {
    background-color: rgb(210, 3, 3);
    color: white;
}

.col-1.mt-2 {
    max-width: fit-content;
}
.col-1.mt-2 .fa-solid.fa-circle-user {
    color: gainsboro
}

img.shop-pic {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    border: solid 1px gainsboro;
    min-width: 40px;
}

.fa-solid {
    color: rgb(210, 3, 3);
}
.value {
    color: rgb(210, 3, 3);
}
#shop-section-right p {
    font-size: small;
}

#shop-section a {
    color: rgb(210, 3, 3);
    border-color: rgb(210, 3, 3);
}
@media (max-width: 767px) {
    .col-1.mt-2 {
        min-width: fit-content;
    }
    
    #shop-section h4 {
        font-size: large;
    }

    #shop-section p {
        font-size: small;
    }

    #shop-section p.text-secondary {
        font-size: x-small;
        margin-bottom: 5px ;
    }

    .row#shop-section-right {
        margin-bottom: 10px;
        margin-left: 2vw;
    }
    
    .row#shop-section-right p{
        margin: 0px;
    }


    #shop-section a {
        padding: 5px;
        font-size: x-small;
        color: rgb(210, 3, 3);
        border-color: rgb(210, 3, 3);
    }
    #button-container {
        justify-content: center;
        margin-bottom: 10px;
    }
}

#product-suggest img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}

.row#product-suggest-container {
    padding: 0px;
}

.fa-regular {
    color:rgb(210, 3, 3);
}
.fa-solid.fa-rotate-left {
    color:rgb(210, 3, 3)
}

p.mt-2 {
    height: 48px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 576px) {
    #button-container button {
        font-size: small;
        padding: 3px 6px;
        height: 40px;
    }

}

@media (max-width: 489px) {
    #button-container button.add-to-cart {
        width: 120px
    }

    #button-container button.buy-now {
        width: 100px
    }

    #rating, .fa-solid.fa-star {
        font-size: xx-small;
    }

    .col-lg-3.col-4 {
        font-size: xx-small;
    }

    #product-detail-bottom {
        font-size: xx-small;
    }

    #shop-section-right p{
        font-size: xx-small;
    }
}