<div class="breadcrumb"><a>Edit Profile</a></div>
<div id="container" class="container">
    <div>
        <div id="status-box-container"></div>
        <div class="edit-profile" data-spm="1">
            <div class="edit-profile-bd">
                <div class="edit-profile-item">
                    <h3 class="edit-profile-item-title">Full name</h3>
                    <div class="edit-profile-item-info">
                        <div class="mod-input floating edit-profile-input-name mod-input-name"><input type="text"
                                placeholder="First Last" data-meta="Field" value="{{user.name}}" /><b></b><span></span>
                            <div class="mod-input-close-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="edit-profile-item">
                    <h3 class="edit-profile-item-title"><span>Email Address</span>
                        <span class="gray">|</span>
                        <a data-spm="demail_change">Change</a>
                    </h3>
                    <div class="edit-profile-item-value">{{user.email}}</div>
                </div>
                <div class="edit-profile-item">
                    <h3 class="edit-profile-item-title">Mobile
                        <span class="gray">|</span>
                        <a data-spm="dmobile_change">Change</a>
                    </h3>
                    <div class="edit-profile-item-value">{{user.phone_number}}</div>
                </div>
                <div class="edit-profile-item">
                    <h3 class="edit-profile-item-title">Address
                        <span class="gray">|</span>
                        <a data-spm="daddress_change">Change</a>
                    </h3>
                    <div class="edit-profile-item-value">{{user.address}}</div>
                </div>
            </div>
            <div class="edit-profile-ft">
                <button type="button" class="next-btn next-btn-primary next-btn-large" onclick="saveChanges()">SAVE
                    CHANGES</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Add input field when "Change" button is clicked
    document.addEventListener("DOMContentLoaded", function () {
        // Get the links with data-spm attributes "dmobile_change" and "demail_change"
        const editButtons = document.querySelectorAll('[data-spm="demail_change"], [data-spm="dmobile_change"], [data-spm="daddress_change"]');
        editButtons.forEach(button => {
            button.addEventListener('click', () => {
                const editItem = button.closest('.edit-profile-item');
                const editValue = editItem.querySelector('.edit-profile-item-value');
                const editInput = createInputField(editValue.textContent.trim(), button.dataset.spm);

                editValue.replaceWith(editInput);
                editInput.focus();
            });
        });

        function createInputField(value, spm) {
            const inputWrapper = document.createElement('div');
            inputWrapper.classList.add('mod-input', 'floating', 'edit-profile-input-' + spm, 'mod-input-' + spm);

            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter value';
            input.value = value;
            input.setAttribute('value', value);

            const b = document.createElement('b');
            inputWrapper.append(input, b);

            const span = document.createElement('span');
            inputWrapper.append(span);

            const closeIcon = document.createElement('div');
            closeIcon.classList.add('mod-input-close-icon');
            inputWrapper.append(closeIcon);

            return inputWrapper;
        };
    });

    // Save changes
    function saveChanges() {
        console.log("save changes button clicked")
        const xhr = new XMLHttpRequest();
        const url = "/user/update";
        const nameInput = document.querySelector(".edit-profile-input-name input");
        const emailValue = document.querySelector(".edit-profile-input-demail_change input");
        const phoneValue = document.querySelector(".edit-profile-input-dmobile_change input");
        const addressValue = document.querySelector(".edit-profile-input-daddress_change input");

        const data = {
            name: nameInput ? nameInput.value : '',
            email: emailValue ? emailValue.value : '',
            phone_number: phoneValue ? phoneValue.value : '',
            address: addressValue ? addressValue.value : ''
        };
        // Debug
        // console.log("Sent body: ", data)
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    showStatusBox("Changes saved", "success");
                    setTimeout(function () {
                        window.location.href = "/user";
                    }, 800) // Redirect to /user
                } else {
                    showStatusBox("Error saving changes, reloading...", "danger");
                    setTimeout(function () {
                        window.location.reload();
                    }, 800) // Reload the page
                }
            }
        };
        xhr.send(JSON.stringify(data));
    }

    function showStatusBox(message, type) {
        const statusBox = document.createElement("div");
        statusBox.classList.add("alert", `alert-${type}`);
        statusBox.textContent = message;
        // Add the status box element in the DOM
        const statusBoxContainer = document.getElementById("status-box-container");
        statusBoxContainer.innerHTML = ""; // Clear any existing status box
        statusBoxContainer.appendChild(statusBox);
    }
</script>