<div class="playground-nav">
    <div class="member-info">
        <p><span>Hello,&nbsp;</span><span
                id="current_logon_user_name">{{user.username}}</span>
        </p>
        <div id="current_logon_user_isVerified"
            class="label verified">
            <img src="#" height="20px">
        </div>

    </div>
    <ul class="nav-container">
        <li class="item" id="Manage-My-Account"><a
                class="active" href="#"
                data-spm="Manage-My-Account"><span>Manage My
                    Account</span></a>
            <ul class="item-container">
                <li id="My-profile" class="sub"><a href="#"
                        data-spm="My-profile">My Profile</a></li>
                <li id="Address-book" class="sub"><a
                        href="#" data-spm="Address-book">Address
                        Book</a>
                </li>
                <li id="Payment-methods" class="sub"><a
                        href="#" data-spm="Payment-methods">My
                        Payment
                        Options</a></li>
            </ul>
        </li>
        <li class="item" id="My-Orders"><a href="#"
                data-spm="My-Orders"><span>My Orders</span></a>
            <ul class="item-container">
                <li id="Returns" class="sub"><a href="#"
                        data-spm="Returns">My Returns</a></li>
                <li id="Cancellations" class="sub"><a
                        href="#" data-spm="Cancellations">My
                        Cancellations</a></li>
            </ul>
        </li>
        <li class="item" id="My-Reviews"><a href="#"
                data-spm="My-Reviews"><span>My Reviews</span></a>
            <ul class="item-container">

            </ul>
        </li>
        <li class="item" id="My-Wishlists"><a href="#"
                data-spm="My-Wishlists"><span>My Wishlist
                    &amp;
                    Followed Stores</span></a>
            <ul class="item-container">

            </ul>
        </li>
        <li class="item" id="Sell-On-Lazada"><a href="#"
                data-spm="Sell-On-Lazada"><span>Sell On
                    Lazada</span></a>
            <ul class="item-container">

            </ul>
        </li>
    </ul>
</div>