<div class="#">
    <div class="breadcrumb"><a>Manage My Account</a></div>
    <div id="container" class="container">
        <div class="dashboard" data-spm="1">
            <div class="dashboard-profile">
                <div class="dashboard-mod-title">Personal Profile <span>|</span> <a data-spm="profile_edit"
                       href="/user/editprofile" >EDIT</a></div>
                <div class="dashboard-info">
                    <div class="dashboard-info-item">{{user.name}}</div>
                    <div class="dashboard-info-item">{{user.email}}</div>
                    <div class="dashboard-info-item
                        dashboard-info-item-check">
                        <div class="dashboard-info-item-check-sub"><label><span class="next-checkbox
                                    "><span class="next-checkbox-inner"><i class="next-icon
                                            next-icon-select
                                            next-icon-xs"></i></span><input type="checkbox" aria-checked="false"
                                        value="on"></span><span class="next-checkbox-label">Receive marketing
                                    emails</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-address">
                <div class="dashboard-address-item
                    shipping">
                    <div class="dashboard-address-default">DEFAULT SHIPPING ADDRESS</div>
                    <div class="dashboard-address-username">Khang</div>
                    <div class="dashboard-address-detail">{{user.address}}
                    </div>
                    <div class="dashboard-address-phone">{{user.phone}}</div>
                </div>
            </div>
            <div class="recent-orders" data-spm="recent-orders">
                <div class="recent-orders-hd">Recent
                    Orders</div>
                <div class="next-table
                    only-bottom-border">
                    <div class="next-table-inner">
                        <div class="next-table-header">
                            <div class="next-table-header-inner">
                                <table>
                                    <colgroup>
                                        <col style="width:
                                            20%;">
                                        <col style="width:
                                            20%;">
                                        <col style="width:
                                            30%;">
                                        <col style="width:
                                            20%;">
                                        <col style="width:
                                            15%;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th rowspan="1" class="next-table-header-node
                                                first">
                                                <div class="next-table-cell-wrapper">Order
                                                    #</div>
                                            </th>
                                            <th rowspan="1" class="next-table-header-node">
                                                <div class="next-table-cell-wrapper">Placed
                                                    On</div>
                                            </th>
                                            <th rowspan="1" class="next-table-header-node">
                                                <div class="next-table-cell-wrapper">Items</div>
                                            </th>
                                            <th rowspan="1" style="text-align:
                                                right;" class="next-table-header-node">
                                                <div class="next-table-cell-wrapper">Total</div>
                                            </th>
                                            <th rowspan="1" style="text-align:
                                                right;" class="next-table-header-node
                                                last">
                                                <div class="next-table-cell-wrapper"></div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="next-table-body">
                            <table>
                                <colgroup>
                                    <col style="width:
                                        20%;">
                                    <col style="width:
                                        20%;">
                                    <col style="width:
                                        30%;">
                                    <col style="width:
                                        20%;">
                                    <col style="width:
                                        15%;">
                                </colgroup>
                                <tbody>
                                    <tr class="next-table-row
                                        first">
                                        <td class="next-table-cell
                                            first">
                                            <div class="next-table-cell-wrapper">349643936811111
                                            </div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">22/04/2022</div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">
                                                <div>
                                                    <div class="recent-item"><img
                                                            src="https://vn-live.slatic.net/p/d6d5db7c5b4612f9a382c2512873ab81.jpg"
                                                            title="Iphone
                                                            13">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="next-table-cell" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper">₫
                                                1,000</div>
                                        </td>
                                        <td class="next-table-cell
                                            last" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper"><a
                                                    href="https://my.lazada.vn/customer/order/view/?tradeOrderId=349643936811111"
                                                    class="manage-order">MANAGE</a></div>
                                        </td>
                                    </tr>
                                    <tr class="next-table-row">
                                        <td class="next-table-cell
                                            first">
                                            <div class="next-table-cell-wrapper">347855019111111
                                            </div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">20/04/2022</div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">
                                                <div>
                                                    <div class="recent-item"><img
                                                            src="https://vn-live.slatic.net/p/bba8079f66c7ae271387631eca65f70b.jpg"
                                                            title="Apple
                                                            Watch
                                                            Series
                                                            7">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="next-table-cell" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper">₫
                                                1,000</div>
                                        </td>
                                        <td class="next-table-cell
                                            last" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper"><a
                                                    href="https://my.lazada.vn/customer/order/view/?tradeOrderId=347855019111111"
                                                    class="manage-order">MANAGE</a></div>
                                        </td>
                                    </tr>
                                    <tr class="next-table-row
                                        last">
                                        <td class="next-table-cell
                                            first">
                                            <div class="next-table-cell-wrapper">343816599511111
                                            </div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">16/03/2022</div>
                                        </td>
                                        <td class="next-table-cell">
                                            <div class="next-table-cell-wrapper">
                                                <div>
                                                    <div class="recent-item"><img
                                                            src="https://vn-live.slatic.net/p/b1ff0a298209abaad9846bd7608accf3.jpg"
                                                            title="Apple
                                                            Watch
                                                            Series
                                                            7
                                                            45mm
                                                            GPS">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="next-table-cell" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper">₫
                                                1,000</div>
                                        </td>
                                        <td class="next-table-cell
                                            last" style="text-align:
                                            right;">
                                            <div class="next-table-cell-wrapper"><a
                                                    href="https://my.lazada.vn/customer/order/view/?tradeOrderId=343816599511111"
                                                    class="manage-order">MANAGE</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>