* {
  scrollbar-width: none;
  scroll-behavior: smooth; }

body::-webkit-scrollbar {
  width: 0; }

.body {
  overflow-x: hidden; }

.container-fuild {
  background-color: #fff; }

.top-banner .container-fuild {
  padding: 0; }

.top-banner img {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px !important; }

.navb-logo img {
  width: 150px;
  height: auto; }

.navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
  list-style: none; }

.item {
  text-align: center;
  margin-inline: 30px;
  padding: 10px 0;
  transition: all .1s ease;
  cursor: pointer; }

.item:hover {
  transform: scale(1);
  font-weight: bold; }

.item a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-decoration: none;
  color: #070A52; }

.item a:hover {
  color: #D21312; }

/* Modal */
.fa-bars::before {
  content: "\f0c9";
  font-size: 35px;
  font-weight: bold;
  color: black; }

.modal.show .modal-dialog {
  margin: 0px;
  padding: 0px;
  width: 300px; }

.tmai_modal_content {
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll; }

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  border-bottom: 2px solid #fefefe; }

.modal-header img {
  width: 120px;
  height: auto;
  margin-top: 17.5px; }

.modal-header .btn-close {
  color: #070A52;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px; }

.modal-header i {
  color: #070A52;
  font-size: 30px; }

.tmai_modal_body {
  width: 88%;
  margin: 0 auto;
  padding: 75px 0 0 0;
  flex: unset; }

.tmai_modal_body .modal-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 0px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all .5s ease;
  border-bottom: 1px solid navy; }

.tmai_modal_body .modal-line:hover {
  color: #D21312;
  border-bottom: 1px solid #D21312; }

.modal-line a {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: #070A52;
  text-decoration: none; }

.modal-line a:hover {
  color: red; }

.modal-line i {
  color: currentColor;
  font-size: 20px;
  width: 35px;
  margin-right: 15px;
  padding: 0 0 3px;
  color: #070A52; }

.navb-button {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.mobile-modal-footer {
  width: 88%;
  margin: 0 auto;
  padding: 20% 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mobile-modal-footer i {
  color: #070A52;
  font-size: 25px; }

.mobile-modal-footer i:hover {
  color: #D21312; }

@media screen and (max-width: 1000px) {
  .navb-items {
    display: none; }
  .navbar {
    display: flex;
    align-items: center; }
  .navb-logo img {
    width: 150px; }
  .wrapper {
    width: 60% !important;
    margin-left: 0 !important; }
  .bg-image {
    top: 20% !important;
    height: 95% !important; } }

@media screen and (max-width: 450px) {
  .fa-bars::before {
    content: "\f0c9";
    font-size: 25px;
    font-weight: bold; }
  .nav-logo {
    margin-left: 0px; }
  .navb-logo img {
    width: 120px;
    height: auto; }
  .modal-dialog {
    width: 300px !important;
    margin: 0;
    padding: 0; }
  .tmai_modal_content {
    width: 82% !important;
    border-radius: 10px;
    height: 100vh;
    overflow-y: scroll; }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe; }
  .modal-header img {
    width: 100px;
    height: auto;
    margin-top: 17.5px; }
  .modal-header .btn-close {
    color: #070A52;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px; }
  .modal-header i {
    color: #070A52;
    font-size: 30px; }
  .tmai_modal_body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset; }
  .tmai_modal_body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    border-bottom: 1px solid navy; }
  .tmai_modal_body .modal-line:hover {
    color: #D21312;
    border-bottom: 1px solid #D21312; }
  .modal-line a {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: navy; }
  .modal-line a:hover {
    color: red; }
  .modal-line i {
    color: currentColor;
    font-size: 20px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px; }
  .mobile-modal-footer {
    width: 88%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: navy; }
  .mobile-modal-footer i:hover {
    color: #D21312; }
  .wrapper {
    width: 83% !important; }
  .bg-image {
    display: none; } }

/* Footer style */
.container-fuild {
  background-color: #f5f4f4;
  padding: 50px 0px; }

.footer-logo {
  width: 120px; }

.download-info {
  display: flex;
  justify-content: center;
  align-items: center; }

.app-img {
  width: 150px; }

.app-img img {
  width: 100%; }

.install-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.storage {
  width: 120px;
  height: 45px;
  object-fit: cover; }

.storage img {
  width: inherit;
  height: inherit; }

.single-box h3 {
  font-size: 22px;
  font-weight: 500;
  color: navy;
  margin-top: 20px; }

.single-box .card-area i {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px; }

.single-box ul {
  list-style: none;
  padding: 0; }

.single-box ul li a {
  text-decoration: none;
  color: #020279;
  line-height: 2.5;
  font-weight: 400;
  font-size: 20px;
  transition: transform 0.8s; }

.single-box ul li:hover {
  transform: scale(1.1);
  font-weight: bold; }

.single-box h2 {
  color: #D21312;
  font-weight: 700;
  font-size: 25px;
  margin-top: 30px; }

#basic-addon2 {
  background: #D21312;
  color: aliceblue;
  padding: 10px; }

.input-group {
  display: flex;
  align-items: center;
  justify-content: center; }

.single-item {
  margin-top: 25px; }

.single-item h2 {
  color: #04048a;
  font-size: 25px;
  margin-bottom: 20px; }

.socials i {
  font-size: 30px;
  color: black;
  margin-right: 15px; }

.socials i:hover {
  transform: scale(1.5);
  color: #010683; }

.alert {
  color: red; }

.login-bg {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.privacy-container {
  margin: 0;
  padding: 20px 20px;
  background-image: url("/image/b1.avif");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.terms-box {
  max-width: 700px;
  background-color: #fefefe;
  color: black;
  padding: 90px 30px;
  box-shadow: 5px 5px 5px #fefefe; }

.term-text {
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 15px;
  font-weight: 500;
  color: black; }

.term-text::-webkit-scrollbar {
  width: 5px;
  background-color: navy; }

.term-text::-webkit-scrollbar-thumb {
  background-color: #D21312;
  height: 20px; }

.terms-box h2 {
  text-transform: uppercase;
  text-align: center;
  color: #070A52;
  font-size: 35px;
  font-weight: 900;
  padding: 5px 0px;
  text-shadow: 3px 3px 3px #0105835a; }

.terms-box h4 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  padding: 10px 30px; }

.terms-box h4 span {
  color: #D21312; }

.buttons {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center; }

.privacy-button {
  margin: 0px 20px;
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  transition: .3s linear; }

.red {
  background-color: #D21312; }

.navy {
  background-color: #070A52; }

.privacy-button:hover {
  opacity: .6; }

.terms-box .term-text p {
  font-size: 20px; }

.login-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/image/form-bg.png);
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.fa-user:before {
  content: "\f007";
  margin-right: 10px; }

.fa-lock:before {
  content: "\f023";
  margin-right: 10px; }

.fa-location-dot:before, .fa-map-marker-alt:before {
  content: "\f3c5";
  margin-right: 10px; }

.fa-circle-user:before, .fa-user-circle:before {
  margin-right: 10px; }

.fa-pen:before {
  margin-right: 10px; }

.wrapper {
  margin: 30px 0px;
  padding: 20px 10px;
  border: 2px solid navy;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background: transparent;
  box-shadow: 0 0 10px navy, inset 0 0 10px navy;
  background-color: #fff;
  margin-left: 60%; }

.wrapper:hover {
  border: 2px solid #E90064;
  box-shadow: 0 0 10px #E90064, inset 0 0 10px #E90064; }

.wrapper h2 {
  text-transform: uppercase;
  color: navy;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2.5px; }

.wrapper:hover h2 {
  color: #E90064; }

.tmai_form_control {
  margin: 10px 0px;
  height: 50px;
  font-weight: 500;
  transition: .5s; }

.form-label {
  margin: 0.5rem;
  font-size: 20px;
  padding: 5px 0px; }

.wrapper .tmai_form_control {
  border: 1px solid navy;
  box-shadow: 0 0 5px navy, inset 0 0 5px navy; }

.wrapper .form-label {
  color: navy; }

.wrapper:hover .tmai_form_control {
  border: 1px solid #E90064;
  box-shadow: 0 0 5px #E90064, inset 0 0 5px #E90064; }

.wrapper:hover .form-label {
  color: #E90064; }

.tmai_button {
  padding: 10px 40px !important;
  margin: 20px 0px !important;
  font-size: 20px !important;

  transition: .5s; }

.wrapper .tmai_button {
  color: #fff;
  background-color: navy;
  box-shadow: 0 0 10px navy, inset 0 0 10px navy; }

.register-link {
  font-size: 20px;
  text-align: center;
  margin: 10px 0px;
  font-weight: 500; }

.register-link p {
  color: black; }

.register-link p span a {
  color: navy;
  text-decoration: none;
  font-weight: 600; }

.register-link p span a:hover {
  border-bottom: 2px solid #D21312; }

.wrapper:hover .register-link p {
  color: navy;
  font-weight: bold; }

.wrapper:hover .register-link p span a {
  color: #D21312;
  font-weight: bold; }

.container-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.bg-image {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  background-image: url(/image/lzd2.jpg);
  filter: blur(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
