<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="homepage_nav collapse navbar-collapse d-flex align-items-center" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="image/lzd-logo.png" alt="lzd-logo" width="110px">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="font-size:20px">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#Cosmetics_Products" style="font-size:20px">Cosmetics</a></li>
                        <li><a class="dropdown-item" href="#Electonic_Products" style="font-size:20px">Electronic Devices</a></li>
                    </ul>
                </li>
            </ul>
            <form class="homepage_navb d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:250px; height:40px">
                <button type="button" class="btn btn-outline-danger">Search</button>
            </form>

            <div class="dropdown text-end" style="margin-left:20px">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="data:image/png;base64,{{loggedInUser.img}}" alt="user_image" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="top:108%; left:-30px">
                    <li><a class="dropdown-item" href="/customer-account">Settings</a></li>
                    <li><a class="dropdown-item" href="/customer-account">My Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
