<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0cff7c90e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/shipper.css">
    <title>Product's Name</title>
</head>
<body>
    <div class="container my-5" id="product-detail">
        <nav class="ms-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Category</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product's Name</li>
            </ol>
        </nav>
        <div class="container px-5 justify-content-center">
            <div class="row bg-light">
                <div class="col-md-5 p-3">
                    <img class="img-fluid border border-secondary-subtle" src="https://cf.shopee.vn/file/3a3d3b7b8d2bdbd80fc7c6338c2b2e7d" alt="">
                </div>
                <div class="col-md-7">
                    <h4 class="mt-4 ms-3">Product's Name</h4>
                    <div class="row text-center my-3 ms-md-0 ms-sm-1">
                        <div class="col-lg-3 col-4 border-end" id="rating">
                            5.0 <i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i>
                        </div>   
                        <div class="col-lg-3 col-4 border-end">
                            <span class="fw-bold">200 </span> Ratings
                        </div>   
                        <div class="col-lg-3 col-4">
                            <span class="fw-bold">1K </span> Sold
                        </div>
                    </div>
                    <h1 class="price mt-4 ms-3">$10</h1>
                    <form class="quantity mt-3" action="" method="post">
                        <label class="ms-3 " for="quantity">Quantity: </label>
                        <input type="number" id="quantity" name="quantity" min="1" max="100" value="1"> 
                        <div class="row mt-4 mx-3" id="button-container">
                            <button class="col-4 btn add-to-cart me-3" type="submit" value="Add To Cart"><i class="fa-solid fa-cart-plus"></i> Add To Cart</button>
                            <button class="col-4 btn buy-now" type="submit" value="Buy Now">Buy Now</button> 
                        </div>  
                    </form>
                </div>
            </div>
            <div class="row bg-light text-center" id="product-detail-bottom">
                <div class="col-lg-5">
                    <div class="row mt-2">
                        <div class="col border-end">Share: <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a> <a href=""><i class="fa-brands fa-facebook-messenger fa-lg"></i></a> <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a> <a href=""><i class="fa-brands fa-twitter fa-lg"></i></a></div>
                        <div class="col"><i class="fa-regular fa-heart"></i> Add To Favorites</div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row my-2">
                        <div class="col text-center border-end"><i class="fa-solid fa-rotate-left"></i> 7 Days Return</div>
                        <div class="col text-center border-end"><i class="fa-solid fa-rotate-left"></i> Authenticity Guarantee</div>
                        <div class="col text-center"><i class="fa-solid fa-truck-fast"></i> Free Shipping</div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 bg-light">
                <div class="col-sm-2 col-3">
                    <img class="shop-pic my-4 ms-3" src="https://static.vecteezy.com/system/resources/previews/000/583/708/original/online-shop-icon-vector.jpg" alt="shop profile pic">
                </div>
                <div class="col-md-3 col-9" id="shop-section">
                    <p class="mt-4 mb-0">Business Name</p>
                    <p class="text-secondary">Active 1 Hour Ago</p>
                    <a href="" class="btn btn-outline-secondary mb-4" type="button">Visit Shop</a>
                </div>
                <div class="col-md-7 col-12">
                    <div class="row" id="shop-section-right">
                        <div class="col-3 my-md-5">
                            <p class="text-secondary">Reviews: <span class="value">30K</span></p>
                            <p class="text-secondary">Products: <span class="value">30</span></p>
                        </div>
                        <div class="col-5 my-md-5">
                            <p class="text-secondary">Response Rate: <span class="value">100%</span></p>
                            <p class="text-secondary">Response Time: <span class="value">within hours</span></p>
                        </div>
                        <div class="col-4 my-md-5">
                            <p class="text-secondary">Joined: <span class="value">1y</span></p>
                            <p class="text-secondary">Followers: <span class="value">300K</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 bg-light">
                <h4 class="ms-3 mt-4">Product Description:</h4>
                <p class="ms-3 mt-2">Fried chicken hair clip</p>
            </div>
            <div class="row mt-5 bg-light">
                <div class="p-3">
                    <h4 class="ms-3 mt-2">Product Ratings:</h4>
                    <div class="row mt-3 mx-3 border-bottom">
                        <div class="col-1 mt-2"><i class="fa-solid fa-circle-user fa-2xl"></i></div>
                        <div class="col">
                            <div class="row">user1</div>
                            <div class="row"><p class="ps-0"><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i></p></div>
                            <div class="row mb-3">Great product!</div>
                        </div>
                    </div>
                    <div class="row mt-3 mx-3 border-bottom">
                        <div class="col-1 mt-2"><i class="fa-solid fa-circle-user fa-2xl"></i></div>
                        <div class="col">
                            <div class="row">user2</div>
                            <div class="row"><p class="ps-0"><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i></p></div>
                            <div class="row mb-3">You have to buy this!</div>
                        </div>
                    </div>
                    <div class="row mt-3 mx-3 border-bottom">
                        <div class="col-1 mt-2"><i class="fa-solid fa-circle-user fa-2xl"></i></div>
                        <div class="col">
                            <div class="row">user3</div>
                            <div class="row"><p class="ps-0"><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i></p></div>
                            <div class="row mb-3">Must-have!</div>
                        </div>
                    </div>
                    <div class="row mt-3 mx-3 border-bottom">
                        <div class="col-1 mt-2"><i class="fa-solid fa-circle-user fa-2xl"></i></div>
                        <div class="col">
                            <div class="row">user4</div>
                            <div class="row"><p class="ps-0"><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i><i class="fa-solid fa-star fa-xs"></i></p></div>
                            <div class="row mb-3">Bought this for my friend and she loves it!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 bg-light">
                <div class="row">
                    <h4 class="ms-3 mt-4">You may also like:</h4>
                </div>
                <div class="row ms-0" id="product-suggest-container">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/pro-display-og-image?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1573689238241" alt="product picture">
                            <p class="mt-2">Pro Display XDR</p>
                            <p class="price">$5999</p>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/pro-display-og-image?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1573689238241" alt="product picture">
                            <p class="mt-2">Pro Display XDR</p>
                            <p class="price">$5999</p>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/pro-display-og-image?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1573689238241" alt="product picture">
                            <p class="mt-2">Pro Display XDR</p>
                            <p class="price">$5999</p>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/pro-display-og-image?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1573689238241" alt="product picture">
                            <p class="mt-2">Pro Display XDR</p>
                            <p class="price">$5999</p>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/mac-studio-select-202203?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1645739294025">
                            <p class="mt-2">Mac Studio M1 Ultra 20-Core CPU 48-Core GPU 32-Core Neural Engine</p>
                            <p class="price">$3999</p>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 text-center" id="product-suggest">
                        <a class="text-decoration-none text-black" href="">
                            <img src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw59b0cbcf/original/90_1002005-DRA67_1PA4V_20_MedusaAevitasPlatformPumps-PlatformShoes-versace-online-store_4_6.jpg" alt="product picture">
                            <p class="mt-2">MEDUSA AEVITAS PLATFORM PUMPS</p>
                            <p class="price">$5999</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>