<body>
    {{> header}}
    <div class="signup-text-center">
        <main class="signup-form-signup w-100 m-auto">
            <form class="px-4 py-4 signup_form_bg" action="/signup-user" method="post" enctype="multipart/form-data">
                <h1 class="signup_form_h1 mb-3">Sign Up as Customer</h1>
                <hr>
                <nav aria-label="breadcrumb">
                    <ol class="signup_breadcrumb breadcrumb breadcrumb-chevron bg-body-tertiary p-2 rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="#" style="text-decoration: none">
                        <span class=>Not A Customer?</span>
                        </a>
                    </li>
                    <li class="signup_breadcrumb_item breadcrumb-item">
                        <a class=" link-body-emphasis fw-semibold text-decoration-none" href="/signup-vendor">Sign Up as Vendor</a>
                    </li>
                    <li class="signup_breadcrumb_item breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="/signup-shipper">Sign Up as Shipper</a>
                    </li>
                    </ol>
                </nav>

                <nav aria-label="breadcrumb" class="signup_breadcrumb">
                    <ol class="signup_breadcrumb breadcrumb breadcrumb-chevron bg-body-tertiary p-2 rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="/" style="text-decoration: none">
                        <span class=>Already have account?</span>
                        </a>
                    </li>
                    <li class="signup_breadcrumb_item breadcrumb-item">
                        <a class=" link-body-emphasis fw-semibold text-decoration-none" href="/">Login</a>
                    </li>
                    </ol>
                </nav>
                <hr>
                    {{#if showUser}}
                        <div class="alert alert-warning">Username already existed!</div>
                    {{/if}}

                    <div class="form-group mb-2">
                        <label for="username" class="signup_form_label form-label"><i class="fa-solid fa-user"></i>Username:</label>
                        <input type="text" id="username" name="username" pattern="[a-zA-Z0-9]+{8, 15}" placeholder="Enter your username" class="signup_form_control form-control" aria-describedby="usernameHelp" title="Please enter again">
                        <div id="usernameHelp" class="form-text">Username must contain only letters (lower and upper case) and digits, has a length from 8 to 15 characters</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password" class="signup_form_label form-label"><i class="fa-solid fa-key"></i>Password:</label>
                        <input type="password" name="password" id="password" pattern ="(!@#$%^&*+ {8, 20}" placeholder="Enter your password" class="signup_form_control form-control" title="Please enter again" required>
                        <div id="passwordHelpBlock" class="form-text">Password must contain at least one upper case letter, at least one lower case letter, at least one digit, at least one special letter, has a length from 8 to 20 characters.
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="name" class="signup_form_label form-label"><i class="fa-solid fa-user"></i>Name:</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name" class="signup_form_control form-control" minlength="5" required title="Please enter at least 5 characters">
                    </div>
                    <div class="form-group mb-2">
                        <label for="phone_number" class="signup_form_label form-label"><i class="fa-solid fa-phone"></i>Phone Number:</label>
                        <input type="number" name="phone_number" id="phone_number" placeholder="Enter your phone number" class="signup_form_control form-control" minlength="9" required title="Please enter a valid phone number">
                    </div>
                    <div class="form-group mb-2">
                        <label for="profile-pic" class="signup_form_label form-label"><i class="fa-solid fa-circle-user"></i>Profile Picture:</label>
                        <div class="input-group mb-3">
                            <input type="file" name="image" class="signup_form_control form-control" id="profile-pic" required>
                            <label class="signup_form_control input-group-text" for="profile-pic">Upload</label>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="address" class="signup_form_label form-label"><i class="fa-solid fa-location-dot"></i>Address:</label>
                        <input type="text" name="address" id="address" placeholder="Enter your address" class="signup_form_control form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-danger">Sign Up</button>
                    </div>
            </form>
        </main>
    </div>
    {{> footer}}
</body>